#local .terraform directories
**/.terraform/*

#tfstate files
*.tfstate
*.tfstate.*
*.terraform.lock.hcl

#crash log files
crash.log
crash.*.log

#to change depending on the environment
*.tfvars
*.tfvars.json

#are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

#ignore CLI configuration files
.terraformrc
terraform.rc
